body {
  margin:0;
  background-image: url("https://img.freepik.com/free-vector/wave-background_53876-115944.jpg?t=st=1655548722~exp=1655549322~hmac=862937aaec7ed0645fa0a6db1046c00d4e401828f4703742beaf8beee48d6b52&w=1800");

}



/* body {
  margin:0;
  background-image: url("https://img.freepik.com/free-vector/flat-geometric-background_23-2148957201.jpg?w=1800&t=st=1655566516~exp=1655567116~hmac=a9cb0ba2b14341e3fd09b96122a856a9f2c1d6437ca4e6623587175de3044554");

} */

/* body {
  margin:0;
  background-image: url("../public/background.jpg");

} */