/* body {
  margin:0;
  background-image: url("https://img.freepik.com/free-vector/wave-background_53876-115944.jpg?t=st=1655548722~exp=1655549322~hmac=862937aaec7ed0645fa0a6db1046c00d4e401828f4703742beaf8beee48d6b52&w=1800");

} */



body {
  margin:0;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-vector/halftone-white-background_115579-724.jpg?w=1800");

}

/* body {
  margin:0;
  background-image: url("../public/quiz.jpg");

} */